/ = simple_form_for @user do |f|
/   = f.input :url_name, as: :string
/   = f.submit

%div{ style: "margin-bottom: 20px; font-size: large;" }
  = form_for @user do |f|
    Qiitaユーザ名:
    = f.text_field :url_name
    = f.submit '毎日楽しくプログラミングしたい'
