%h1
  = link_to "#{user.name || user.url_name}", user.url
  さんにおすすめのウォンテッド求人・会社

=# user.tags.map { |tag| link_to tag.name, tag.url }.join(' / ').html_safe

- user.search_results_filtered.each do |search_result|
  = render search_result
