/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass";


// wantedly color palette

$gray1: #9DA0A4;
$gray2: #6A6E71;
$gray3: #45494B;
$gray4: #24282A;
$lightgray1: #EBEDEF;
$lightgray2: #D7DBDF;
$blue1: #00A4BB;
$blue2: #003C69;
$red1: #FF3333;
$red2: #F55B3E;
$green1: #6CC644;
$yellow1: #FED100;

html {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $gray4;
}

a {
  @include link-colors($blue2);
}

.main {
  width: 980px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  margin-top: 20px;
  border-top: solid 1px $lightgray2;
  color: $gray1;
}

h1 {
  margin-bottom: 30px;
}

/*------------------------------------*\
  $CLEARFIX
\*------------------------------------*/
/*
Fix clearing issues as per: nicolasgallagher.com/micro-clearfix-hack/
*/
.cf,
.grids,
.media{
  zoom:1;
}
.cf:before,
.grids:before,
.media:before,

.cf:after,
.grids:after,
.media:after{
  content:"";
  display:table;
}
.cf:after,
.grids:after,
.media:after{
  clear:both;
}
